*{
    margin: 0;
    padding: 0;
}

.cabeçalho{
    background-color: aqua;
    color:blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.foto{
    width: 20%;
}

.braços{
    background-color: antiquewhite;
    color: brown;
}